// Variables //
$grey: #eeeeee;
$primary: #0000ff;
$primary-light: #0909fe;
$secondary: #9696f4;
$secondary-light: #bdbdf2;
$gradient: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,255,0) 100%);


// Colors
$white: #ffffff;
$black: #000000;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$suisse: 'suisseintl', sans-serif;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;

$gutter: 20px;
