/* Projects */
.projects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    width: 100%;
    margin: 0 0 150px;
    padding: 0 170px;
    &.half{
        width: 50%;
        padding: 0 90px;
    }
    .wrapper-video, img{
        width: 100%;
    }
}
.wrapper-video{
    display: block;
    position: relative;
    .box-video{
        display: block;
    }
    .content-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    iframe, embed, object{
        width: 100%;
        height: 100%;
    }
}
.project-infos{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
}
.project-details{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    > *{
        margin-right: 25px;
    }
}
.project-name{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: $suisse;
    font-weight: 500;
    font-style: italic;
}


@media (max-width: $desktop) {
    .project{
        margin: 0 0 125px;
        padding: 0 100px;
        &.half{
            padding: 0 50px;
        }
    }
}
@media (max-width: $desktop-small) {
    .project{
        padding: 0 50px;
        &.half{
            width: 100%;
            padding: 0 50px;
        }
    }
}
@media (max-width: $tablet) {
    .project{
        margin: 0 0 100px;
        padding: 0;
        &.half{
            padding: 0;
        }
    }
}
@media (max-width: $phone) {
    .project{
        margin: 0 0 60px;
    }
    .project-details{
        flex-direction: column;
        margin-right: 25px;
        > *{
            margin-right: 0;
        }
    }
}
